
# project files/dirs
.vs/
*.xcworkspace/
*.aman
*.bin
*.sdef
*.sman
*.vcxproj
*.sln
*.vcxproj.filters
*.modl
*.mpak
*.mmat
*.png
*.tman
*.tga
*.fbx
*.tif
*.jpg
*.hdr

/bin/
/bin_int/

# sandbox files/dirs

Sandbox/*.xcodeproj/
Sandbox/assets_bin/
Sandbox/assets/asset_bin/
Sanbox/assets/*
Sandbox/*.vcxproj
Sandbox/*.vcxproj.user

Sandbox/assets/models/
Sandbox/assets/sound/music/
Sandbox/assets/sound/sound_fx/
Sandbox/assets/textures/
Sandbox/assets/3DGameKit
Sandbox/assets/3DGameKit.zip
Sandbox/assets/sponza
Sandbox/assets/sponza.zip
Sandbox/assets/Sandbox_Textures/packs/Sponza/

# r2engine files/dirs

r2engine/*xcodeproj/
r2engine/*.vcxproj
r2engine/r2engine.vcxproj.user

r2engine/assets/models/bin/
r2engine/vendor/glad/bin-int/
r2engine/vendor/glad/glad.vcxproj.user
r2engine/vendor/loguru/bin-int/
r2engine/vendor/loguru/loguru.vcxproj.user
r2engine/vendor/miniz/bin-int/
r2engine/vendor/miniz/miniz.vcxproj.user
r2engine/assets_bin/
r2engine/libs/ibl/bin/
r2engine/libs/ibl/bin-int/
r2engine/libs/ibl/*.vcxproj
r2engine/libs/cmdln/bin/
r2engine/libs/cmdln/bin-int/
r2engine/libs/cmdln/*.vcxproj
r2engine/tools/cubemapgen/bin/
r2engine/tools/cubemapgen/bin-int/
r2engine/tools/cubemapgen/*.vcxproj
r2engine/libs/ibl/ibl.vcxproj.user
r2engine/tools/cubemapgen/cubemapgen.vcxproj.user
r2engine/libs/cmdln/cmdln.vcxproj.user

r2engine/libs/assetlib/bin/**
r2engine/libs/assetlib/bin-int/**
r2engine/libs/assetlib/*.vcxproj
r2engine/libs/assetlib/assetlib.vcxproj.user

r2engine/tools/assetconverter/bin/
r2engine/tools/assetconverter/bin-int/
r2engine/tools/assetconverter/*.vcxproj

#r2Tests
r2Tests/*.xcodeproj/
r2Tests/*.vcxproj
r2Tests/*.vcxproj.user

engine_assets/

