
# project files/dirs

*.xcworkspace/
*.aman
*.bin
*.sdef

/bin/

# sandbox files/dirs

Sandbox/*.xcodeproj/
Sandbox/assets/asset_bin/

# r2engine files/dirs

r2engine/*xcodeproj/

r2Tests/*.xcodeproj/

engine_assets/

