
# project files/dirs
.vs/
*.xcworkspace/
*.aman
*.bin
*.sdef
*.sman
*.vcxproj
*.sln
*.vcxproj.filters
*.modl
*.mpak
*.mmat
*.png
*.tman

/bin/
/bin_int/

# sandbox files/dirs

Sandbox/*.xcodeproj/
Sandbox/assets/asset_bin/
Sanbox/assets/*
Sandbox/*.vcxproj
Sandbox/*.vcxproj.user

Sandbox/assets/models/
Sandbox/assets/sound/music/
Sandbox/assets/sound/sound_fx/
Sandbox/assets/textures/
Sandbox/assets/3DGameKit
Sandbox/assets/3DGameKit.zip

# r2engine files/dirs

r2engine/*xcodeproj/
r2engine/*.vcxproj
r2engine/r2engine.vcxproj.user

r2engine/assets/models/bin/
r2engine/vendor/glad/bin-int/
r2engine/vendor/glad/glad.vcxproj.user
r2engine/vendor/loguru/bin-int/
r2engine/vendor/loguru/loguru.vcxproj.user
r2engine/vendor/miniz/bin-int/
r2engine/vendor/miniz/miniz.vcxproj.user
r2engine/assets_bin/

#r2Tests
r2Tests/*.xcodeproj/
r2Tests/*.vcxproj
r2Tests/*.vcxproj.user

engine_assets/

